name: notification-service -> prod

on:
  push:
    branches: ["master"]

concurrency:
  group: notification-service-prod
  cancel-in-progress: true

jobs:
  deploy:
    uses: techxus/ibank-gitops-templates/.github/workflows/deploy.yml@master
    with:
      service_name: notification-service
      docker_image: techxus/notification-service
      gitops_repo: techxus/ibank-minikube-gitops
      gitops_branch: master
      values_file: env/prod/notification-service-values.yaml
      environment: prod
      java_version: "17"
      maven_args: "-DskipTests"
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
      GITOPS_REPO_PAT: ${{ secrets.GITOPS_REPO_PAT }}
